body {
    background-color: #2A2E32;
    color: white;
}

img {

    border-radius: 50%;
    border:solid black 7px;
}

.card {
    background-color: #3c4247;
    text-align: center;
}


header {
    margin-bottom: 60px;
}

footer {
    margin-top: 60px;
}

.card-title,
.card-text {
    color: white;
}

img {
    border:solid black 7px;
}

body {
  cursor: url('Mediamodifier-Design.svg'),auto;
}