.card-title {
    color: white;
}

.card-text{
    color: white;
}
section > * {
    color: black;
}

img {

    border-radius: 2%;
    border:solid black 7px;
}

body {
  cursor: url('Mediamodifier-Design.svg'),auto;
}