body {
    background-color: #2A2E32;
    color: white;
}

.country-state-zip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-check-input:checked {
    background-color: #2A2E32;
    border-color: #2A2E32;
}
