body {
    background-color: #2A2E32;
    color: white;
}

.country-state-zip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-check-input:checked {
    background-color: #2A2E32;
    border-color: #2A2E32;
}

.min-vh-100 {
    min-height: 100vh!important;
}
body {
  cursor: url('Mediamodifier-Design.svg'),auto;
}