.text {
    display: flex;
    justify-content: space-around;
}

* {
    cursor: url(/project-week/War-On-Drugs/Mediamodifier-Design.svg), auto;
}

@media (max-width: 576px) {
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}